// A faire : banner filtre gris opacité 0.3

.banner {
    @include flexCenter; 
    margin: 0 100px;
    border-radius: 25px;
    height: 223px;
    position: relative; 
    overflow: hidden;
    //background: url(../../assets/img/banner_background.jpg) center/cover;
    // faire directement dans le composant // position absolute
    h1 {
        color: $color-2; 
        font-size: 48px;
        z-index: 1;
    }
    img {
        margin: 0;
        border-radius: 25px;
        position: absolute;
        object-fit: cover;
        z-index: 0;
        width: 100%;
        //margin: 0 100px 43px 100px;
    }
}
