// About.js
.about-collapse {
    margin: 31px 208px 43px 208px;
}

.collapse-header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        height: 47px;
        background-color: $color-1;
        border-radius: 5px;

        h3 {
            color: white;
            font-weight: 500;
            font-size: 24px;
            margin-left: 18px;
        }

        .collapse-button-arrow {
            margin-right: 17px;
            cursor: pointer;
        
            .collapse-button-arrow-svg {
                transform: rotate(0deg);
            }

            .collapse-button-arrow-svg-opened {
                transform: rotate(180deg);
            }
        }
    }

    .collapse-text p {
        color: $color-1;
        background-color: $color-2;
        z-index: 1;
        padding: 36px 27px 19px 18px;
        margin-top: -10px;
        border-radius: 0 0 5px 5px;
    }

    // Location.js
.location-collapses-2-columns {
    display: flex;
    justify-content: space-between;
    margin: 24px 100px 0 100px;

    .location-collapse {
        justify-content: space-between;
        width: 48%;
    }
}