// About.js
.about-collapse {
    margin: 31px 208px 43px 208px;

    @media screen and (max-width: 1000px) {
        margin: 20px 60px 0 60px;
    }
    @media screen and (max-width: 700px) {
        margin: 20px 40px 0 40px;
    }
    @media screen and (max-width: 400px) {
        margin: 20px 20px 0 20px;
    }
}

.collapse-header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        height: 47px;
        background-color: $color-1;
        border-radius: 5px;

        h3 {
            color: white;
            font-weight: 500;
            font-size: 24px;
            margin-left: 18px;

            @media screen and (max-width: 800px) {
                font-size: 20px;
            }
            @media screen and (max-width: 700px) {
                font-size: 16px;
            }
            @media screen and (max-width: 400px) {
                font-size: 13px;
            }
        }

        .collapse-button-arrow {
            margin-right: 17px;
            cursor: pointer;
        
            .collapse-button-arrow-svg {
                transform: rotate(0deg);
            }

            .collapse-button-arrow-svg-opened {
                transform: rotate(180deg);
            }
        }
    }

    .collapse-text-is-opened {
        color: $color-1;
        background-color: $color-2;
        z-index: 1;
        padding: 36px 27px 19px 18px;
        margin-top: -10px;
        border-radius: 0 0 5px 5px;

        @media screen and (max-width: 800px) {
            font-size: 16px;
        }
        @media screen and (max-width: 700px) {
            font-size: 14px;
        }
        @media screen and (max-width: 400px) {
            font-size: 12px;
            padding: 36px 7px 19px 11px;
        }
    }

    // Location.js
.location-collapses-2-columns {
    display: flex;
    justify-content: space-between;
    margin: 24px 100px 0 100px;

    .location-collapse {
        justify-content: space-between;
        width: 48%;
    }
}