.error404 {
    font-weight: 700;
    font-size: 288px;
    @include flexCenter;
    padding-bottom: 66px;
}
.error-message {
    @include flexCenter;
    font-weight: 500;
    font-size: 36px;
    padding-bottom: 182px;
}
.error-link {
    @include flexCenter;
    font-weight: 500;
    font-size: 18px;
    text-decoration: underline;
}