body {
    // bottom stick to bottom
    min-height: 100vh;
    position: relative;
    padding-bottom: 250px;
}

.footer {
    display: flex;
    @include flexCenter;
    position: relative;
    background-color: black;
    height: 209px;
    margin-top: 30px;
    
    // bottom stick to bottom
    position: absolute;
    bottom: 0;
    width: 100%;

    .logo-footer {
        width: 122px;
        bottom: 107px;
        
        @media screen and (max-width: 400px) {
            bottom: 110px;
        }
    }

    .droits {
        margin: 0;
        bottom: 29px;
        position: absolute;
        color: white;
    
        @media screen and (max-width: 400px) {
            font-size: 12px;
            bottom: 62px;
        }
    }
}