.location-cards {
    margin: 43px 100px 0 100px;
    padding: 56px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 60px;
    background-color: $color-2;
    border-radius: 25px;

    @media screen and (min-width: 2000px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
    }
    @media screen and (max-width: 1500px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }
    @media screen and (max-width: 1050px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        margin: 20px 60px 0 60px;        
        padding: 0;
    }
    @media screen and (max-width: 700px) {
        margin: 20px 40px 0 40px;
        background-color: white;
    }
    @media screen and (max-width: 400px) {
        margin: 20px 20px 0 20px;
    }
    
    .location-card {
        position: relative;
        border-radius: 25px;
        height: 340px;
        width: 340px;
        margin: 0 auto;

        @media screen and (max-width: 450px) {
            width: 100%;
            height: 255px;        
        }
        @media screen and (max-width: 380px) {
            width: 100%;
            height: 228px;        
        }
        
        .location-card-title {
            position: absolute;
            color: white;
            font-weight: $font-medium;
            font-size: 18px;
            bottom: 20px;
            left: 20px;
            margin-right: 20px;
        }

        img {
            object-fit: cover;
            height: 340px;
            width: 340px;
            border-radius: 25px;

            @media screen and (max-width: 1000px) {
                border-radius: 10px;
            }
            @media screen and (max-width: 700px) {
             
            }
            @media screen and (max-width: 450px) {
                width: 100%;
                height: 255px;
            }
            @media screen and (max-width: 380px) {
                width: 100%;
                height: 228px;        
            }
        }
    }
}
