.location-summary {
    margin: 30px 100px 0 100px;
    display: flex;
    justify-content: space-between;

    .location-summary-left-title {
        font-size: 36px;
        font-weight: 500;
        height: 51px;
    }

    .location-summary-left-location {
        font-size: 18px;
        font-weight: 500;
        height: 26px;
    }

    .location-summary-left-tags {
        display: flex;
        margin-top: 20px;

        .location-summary-left-tag {
            @include flexCenter; 
            height: 25px;
            min-width: 115px;
            margin-right: 10px;
            padding: 0 10px;
            color: white;
            font-size: 14px;
            background-color: $color-1;
            border-radius: 10px;
        }
    }

    .location-summary-right-host {
        display: flex;
        @include flexCenter;

        .location-summary-right-host-name {
            margin-right: 5px;
            width: 100px;
        }
    }

    .location-summary-right-rating {
        @include flexCenter;
        margin-top: 24px;
    }

    .location-summary-right-host-picture img {
        border-radius: 100px;
        object-fit: cover;
        width: 64px;
        margin-left: 5px;
    }
}
