.slideshow-pictures {
    margin: -43px 100px 0 100px;
    position: relative;

    img {
        height: 415px;
        object-fit: cover;
        width: 100%;
        border-radius: 25px;
    }
}

.slideshow-left-button-arrow {
    position: absolute;
    top: 149px;
    right: 23px;
}
.slideshow-right-button-arrow {
    position: absolute;
    top: 149px;
    left: 23px;
    transform: rotate(180deg);
}